{% extends "./base.html" %}
{% load static %}
    
{% block head %}
    
{% endblock %}


{% block body %}
  <div class="container">
    <div class="encabezado">
      <h1>Correas y arneses</h1>
    <br>
    <h3>Para un buen paseo con tu mascota</h3>
    </div>
    <div class="row">
      {% for p in prod %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="{{p.image_url.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{p.nombre}}</h5>
            <p class="card-text">{{p.descripcion}}</p>
            <a href="#" class="btn btn-primary">{{p.precio}}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
{% endblock %}


{% block script %}
    
{% endblock %}